.main-container {
  background-color: #24272b;
  max-height: 100vh;
  width: 740px;
  font-size: calc(10px + 2vmin);
  color: white;
  border-right: 1px solid #f2f2f2;
  margin-top: 5px;
  overflow-y: auto;
}

.main-container::-webkit-scrollbar {
  width: 0.1em;
}

.main-container::-webkit-scrollbar-track {
  background: transparent;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}
