.header-container {
  background-color: #24272b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  color: white;
  margin-left: 20px;
  font-size: calc(10px + 2vmin);
}
