.header-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 5px;
  padding: 8px;
  background-color: #24272b;
  /* background-color: red; */
}

.logo {
  color: white;
  font-size: calc(12px + 3vmin);
}

.spacer-div {
  flex-grow: 1;
  /* flex-shrink: 2; */
}

.header-buttons {
  display: flex;
}
