.header-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 5px;
  padding: 8px;
  background-color: #24272b;
}

.logo {
  /* color: white; */
  font-size: calc(12px + 3vmin);
  background-image: linear-gradient(
    to right,
    #66e8ed,
    #4454e0
  ); /* Gradient colors */
  -webkit-background-clip: text;
  color: transparent;
}

.spacer-div {
  flex-grow: 1;
  /* flex-shrink: 2; */
}

.header-buttons {
  display: flex;
}
