.button {
  background-color: transparent;
  color: white;
  border-style: solid;
  border-width: 1.3px;
  border-color: white;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
  margin: 2px;
}
