.button {
  background-color: transparent;
  color: white;
  border-style: solid;
  border-width: 1.3px;
  border-color: white;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
  margin: 2px;
}

.header-container {
  /* background: linear-gradient(to right, rgb(157, 201, 255), rgb(33, 94, 170)); */
  background-color: #24272b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  color: white;
  margin-left: 20px;
  font-size: calc(10px + 2vmin);
}

.main-container {
  background-color: #24272b;
  width: 70%;
  font-size: calc(10px + 2vmin);
  color: white;
  border-right: 1px solid #f2f2f2;
  margin-top: 55px;
  overflow-y: auto;
}

.side-container {
  background-color: #24272b;
  width: 30%;
  max-width: 400px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 55px;
  border-right: 1px solid #f2f2f2;
  overflow-y: auto;
}

.post-container {
  background: transparent;
  margin: 15px;
  min-height: 30%;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #24272b;
  border-top: 1px solid #f2f2f2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: calc(10px + 0.8vmin);
}
