.button {
  background-color: transparent;
  color: white;
  border-style: solid;
  border-width: 1.3px;
  border-color: white;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
  margin: 2px;
}

.header-container {
  background-color: rgb(49, 142, 255);  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}
