.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.App-header {
  height: 60px;
  width: 1030px;
}

@media (max-width: 1020px) {
  .App-header {
    width: 100%;
  }
}

.App-body {
  display: flex;
  justify-content: center;
  background-color: #24272b;
  height: 100vh;
  width: 100%;
}
