.App {
  text-align: center;
}

/* .App-header {
  background-color: #24262a;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ;
  color: white;
} */

.App-body {
  display: flex;
  background-color: #24272b;
}
